div {
  padding: 0px !important;
}

#navbar {
  background-color: #abafe8;
  font-size: 20px;
}

.navbar-header {
  margin-left: 60px;
}

.navbar-brand {
  margin-left: 20px;
  font-size: 20px !important;
}

#homeImg {
  width: 100%;
}

#myCarousel img {
  height: 600px;
  width: 1450px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#navbar img {
  width: 60px;;
}

.menuSize {
  color: yellowgreen;
}

.publishArticle {
  margin-left: 300px;
}

.articleList {
  border: dashed 1px darkgrey;
  margin-top: 30px;
}

.sameLine {
  display: inline;
}

#picture {
  max-height: 100%;
  max-width: 100%;
}

#parentOfImg {
  height: 160px;
  width: auto;
}

#articleFooter {
  margin-top: 15%;
  color: darkgrey;

}

#articleFooter a {
  color: #ff9d00;
}

.pointer {
  cursor: pointer;
}